<h1>All Restaurants</h1>
<% @restaurants.each do |restaurant| %>
<h5><%= link_to restaurant.name, restaurant_path(restaurant) %> </h5>
<p><%= restaurant.category %></p>
<% end %>

<%= link_to "Add New Restaurant",  new_restaurant_path, class: "btn btn-primary" %>
